body {
    background-color: #fcfcfc;
}

pre {
    line-height: 1.2;
    padding: 1.5rem;
    background-color: #f7f7f7;
    overflow-x: auto;
    border-left: 1px dashed #ddd;
}

.app__content {
    margin-top: 4rem;
    margin-bottom: 10rem;
}
