#MainMenu {
    box-shadow: 0 2px 5px #888;
}

#MainMenu ul {
    margin: 0 0 0 -2rem; /* resets padding from link */
    padding: 0;
}

#MainMenu ul li {
    list-style: none;
}

#MainMenu ul li {
    display: inline;
}

#MainMenu ul li a {
    display: block;
    float: left;
    padding: 1rem 2rem;
    text-decoration: none;
    border-bottom: 0;
    color: #fff;
    letter-spacing: .08rem;
}

#MainMenu ul li a.active {
    background-color: rgba(256, 256, 256, 0.3);
}

#MainMenu ul li a:hover {
    background-color: rgba(256, 256, 256, 0.2);
}
