.mainMenu {
    box-shadow: 0 2px 2px 0 #bbb;
}

.mainMenu ul {
    margin: 0 0 0 -2rem; /* resets padding from link */
    padding: 0;
}

.mainMenu ul li {
    list-style: none;
}

.mainMenu ul li {
    display: inline;
}

.mainMenu ul li a {
    display: block;
    float: left;
    padding: 1rem 2rem;
    text-decoration: none;
    border-bottom: 0;
    color: #fff;
    letter-spacing: .08rem;
}

.mainMenu ul li a.active {
    background-color: rgba(256, 256, 256, 0.3);
}

.mainMenu ul li a:hover {
    background-color: rgba(256, 256, 256, 0.2);
}
