html {
    /* because of browser base font-size 16px this means that 1rem will be exactly 10px */
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    color: #333;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    border-bottom: 1px dotted;
    padding-bottom: 1px;
}

abbr {
    cursor: help;
    border-bottom: 1px dashed #ddd;
    position: relative;
}

abbr:hover::after {
    position: absolute;
    bottom: 100%;
    left: 100%;
    padding: 1rem;
    color: #fff;
    background: #000;
    opacity: 0.5;
    content: attr(title);
    font-size: 2rem;
}

h1, h2, h3 {
    font-weight: 300;
    margin: 0;
}

:global .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

:global .wrapper--fluid {
    margin-left: 5rem;
    margin-right: 5rem;
}
