a:hover > .WeatherStationPreview {
    background-color: #f5f5f5;
}

.WeatherStationPreview {
    background-color: #fff;
    border: 1px solid #eee;
    border-left: 3px solid #2cb5e8;
    padding: 2rem 1rem 2rem 4rem;
    margin-bottom: 1rem;
    color: #333;
}

.WeatherStationPreview .wsName {
    float: left;
    margin-right: 2rem;
}

.WeatherStationPreview .wsProps {
    float: right;
    margin-right: 5rem;
}
