.PaperToast {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #323232;
    color: #f1f1f1;
    min-height: 48px;
    min-width: 288px;
    padding: 16px 24px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    margin: 24px 48px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.PaperToast--error {
    background-color: maroon;
}
